{{#if expanded}}
<div class="card">
  {{card/card-header header="Album"}}
  <div class="card-block">
    <h4 class="card-title">{{album.name}}</h4>
    <div class='pull-md-right'>
      {{btn-toggle-favorite album=album}}
    </div>
  </div>
  <div class='card-block'>
    <p class='card-text'>Artists</p>
      {{#each album.artists as |artist|}}
        {{artist-info-card compact=true artist=artist}}
      {{else}}
        <li>
          No Artists Attached
        </li>
      {{/each}}
  </div>
  <div class="card-block">
    <p class='card-text'>Songs</p>
    {{#each album.songs as |song|}}
      {{song-info-card compact=true song=song}}
    {{/each}}
  </div>
</div>
{{/if}}

{{#if compact}}
<div class='card'>
  {{#if header}}
    {{card/card-header header=header}}
  {{/if}}
  <div class='card-block'>
    {{#link-to 'library.albums.album' album class='btn btn-link'}}
      <strong>{{album.name}}</strong> by {{album.artists.firstObject.name}}
    {{/link-to}}
    {{btn-toggle-favorite class='pull-xs-right' user=session.currentUser album=album}}
  </div>
</div>
{{/if}}
