{{#if expanded}}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{artist.name}}</h4>
  </div>
  <div class='card-block'>
    <p class='card-text'>Albums</p>
    <ul>
      {{#each artist.albums as |album|}}
        {{album-info-card compact=true album=album}}
      {{else}}
        <li>
          No Albums Attached
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="card-block">
    <p class='card-text'>Songs</p>
    <ul>
      {{#each artist.songs as |song|}}
        <li>
          {{#link-to 'library.songs.song' song}}{{song.title}}{{/link-to}}
        </li>
      {{else}}
        <li>No Songs attached</li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}

{{#if compact}}
  <div class='card'>
    {{#if header}}
      {{card/card-header header=header}}
    {{/if}}
    <div class='card-block'>
      {{#link-to 'library.artists.artist' artist class='btn btn-link'}}
        <strong>{{artist.name}}</strong>
      {{/link-to}}
      {{btn-toggle-favorite class='pull-xs-right'}}
    </div>
  </div>
{{/if}}
