{{#if inline}}
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">New Album Name</label>
      {{input class='form-control' value=model.name placeholder='Enter New Album' focus-out='save'}}
    </div>
  </form>
{{else}}
  <form>
    <fieldset class="form-group">
      <label for="album-name">Name</label>
      {{input class='form-control' value=album.name}}
    </fieldset>

    <fieldset class="form-group">
      <label for="exampleInputEmail1">Artist</label>
        {{input-select-artist id="new-artist-input-select"
                              options=artists
                              selectedValue=newAlbum.artist
                              noMessagePlaceHolderText="Create New Artist"
                              onSuccess="assignArtist"}}
    </fieldset>

    <button type="submit" class="btn btn-primary" {{action 'save'}}>Submit</button>
  </form>

{{/if}}
