{{#if compact}}
  <div class='card'>
    <div class='card-block'>
      {{#link-to 'library.songs.song' song class='btn btn-link'}}
        <strong>{{song.title}}</strong> {{#if withArtist}} by {{song.artist.name}} {{/if}}
      {{/link-to}}
      <div class='pull-xs-right'>
        {{btn-toggle-favorite user=session.currentUser song=song}}
      </div>
    </div>
  </div>
{{/if}}

{{#if expanded}}
  <div class="card">
  {{card/card-header header="Song"}}
  {{#if song.ytSource}}
    {{video-player song=song class='card-img-top'}}
  {{/if}}


  <div class='card-block'>
    <div class='row song-info'>
      <div class='col-md-3'>
        <h4 class="card-title">{{song.title}}</h4>
      </div>
      <div class='col-md-9'>
        {{btn-toggle-favorite user=session.currentUser song=song class='pull-md-right'}}
      </div>
    </div>

    {{artist-info-card compact=true artist=song.artist header="Artist"}}
    {{album-info-card compact=true album=song.album header='Album'}}
  </div>
</div>

{{/if}}
