{{#if compact}}
  <div class='card'>
    <div class='card-block'>
      {{#link-to 'library.songs.song' song}}
        {{song.title}}
      {{/link-to}}
      <button class='btn btn-link btn-sm' {{action 'toggleFavorite'}}>
        {{#if isFavorite}}
          <i class='fa fa-star'></i>
        {{else}}
          <i class='fa fa-star-o'></i>
        {{/if}}
      </button>
    </div>
  </div>
{{else}}
<div class="card">
  <div class='card-block'>
    {{video-player song=song}}
  </div>
  <div class="card-block">
    <h4 class="card-title">{{song.title}}</h4>
  </div>
  <div class='card-block'>
    <p class='card-text'>
      <strong>Artist:</strong>
      {{#link-to 'library.artists.artist' song.artist}}
        {{song.artist.name}}
      {{/link-to}}
    </p>
    <p class='card-text'>
      <strong>Album:</strong>
      {{#link-to 'library.albums.album' song.album}}
        {{song.album.name}}
      {{/link-to}}
    </p>
  </div>
</div>

{{/if}}
