{{#if hasFavorites}}
<div class="card">
  {{card/card-header header='My Favorites'}}
  <div class='card-block'>
    <ul class="nav nav-tabs" role="tablist">
      {{#each sections as |section|}}
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#favorites-tab-{{section}}" role="tab">
          <span class='text-capitalize'>{{section}}</span>
        </a>
      </li>
      {{/each}}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="favorites-tab-songs" role="tabpanel">
        {{#each user.songs as |song|}}
          {{song-info-card compact=true song=song user=user withArtist=true}}
        {{else}}
          {{warning-card title="No Favorite Songs Yet"}}
        {{/each}}
      </div>

      <div class="tab-pane" id="favorites-tab-artists" role="tabpanel">
        {{#each user.artists as |artist|}}
          {{artist-info-card compact=true artist=artist}}
        {{else}}
          {{warning-card title="No Favorite Artists Yet"}}
        {{/each}}
      </div>

      <div class="tab-pane" id="favorites-tab-albums" role="tabpanel">
        {{#each user.albums as |album|}}
          {{album-info-card compact=true album=album}}
        {{else}}
          {{warning-card title="No Favorite Albums Yet"}}
        {{/each}}
      </div>

    </div>
  </div>
</div>
{{else}}
<div class="alert alert-info" role="alert">
  <strong>Hey there!</strong> You don't have any favorites right now but you can add some from the {{#link-to 'library.songs' class='alert-link'}}Music Library{{/link-to}}
</div>
{{/if}}
